# Rename this file to .env and fill in the values for your AWS setup.
VITE_API_URL=https://xxxxxxxx.execute-api.eu-south-2.amazonaws.com/prod
VITE_COGNITO_USER_POOL_ID=eu-south-2_xxxxxxxxx
VITE_COGNITO_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx